.container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

.userphoto {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    padding-top: .2em;
}

.useremail {
    display: inline-block;
    padding-left: 1em;
    font-size: 1em;
    transform: translateY(-.5em);
}